*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navlist{
    list-style: none;
}
.container{
    height: 100vh;
    width: 100vh;
    overflow-x: none;
}
.navcontainer{
    width: 100vw;
    background-color: aqua;
    height: 60px;
}